.heading{
    font-size:23px;
    width:100%;
    box-shadow:5px 5px 5px grey;
    margin:0;
}
.note{
    color:black;
    font-size: 15px;
}
.footer{
    background-color:grey;
    color:white;
    position:fixed;
    bottom:0%;
    width:100%;
    line-height:3;
}
canvas{
    box-shadow:5px 5px 5px grey;
    border:5px solid rgb(255, 255, 255);
    border-radius:5px;
}